[submodule "Thinkful/starter-constellations-server"]
	path = Thinkful/starter-constellations-server
	url = git@github.com:dsmith7789/starter-constellations-server.git
[submodule "Thinkful/starter-robust-server-structure-paste"]
	path = Thinkful/starter-robust-server-structure-paste
	url = git@github.com:dsmith7789/starter-robust-server-structure-paste.git
